<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a class="text-white navbar-brand" href="/">
    <i class="fa fa-pagelines"></i> groccries stores
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a href="/">HOME</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <a href="#" class="text-white nav-link">
                <i class="text-warning fas fa-shopping-cart">
                </i>
                Shopping cart <i id="cart_n" style="color: yellow;"></i>
            </a>
            <a href="/admin" class="text-white nav-link dasabled">
                <i class="far fa-user">
                </i>
               administrator
            </a>
        </form>
    </div>
</nav>
<div class="container mt-4">
    <main role="main">
        <div class="row">
            <div class="col">
                <h1>Order</h1>
                <div class="table-responsive-sm">
               <table class="table table-striped">
               <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quality</th>
                     <th scope="col">Price</th>
                
                </tr>
               </thead>
               <tbody id="table ">


               </tbody>
               </table>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
    </main>
   </div>
</header>
<script src="/js/cart.js"></script>