<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<mata name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stlesheet" href="../public/dist/bootstrap.min.css">
<body>
<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a class="text-white navbar-brand" href="/">
    <i class="fa fa-pagelines"></i> groccries stores
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu"></ul>
    </div>
</nav>

{{{body}}}

<div class="container">
    <footer>
        <p class="float-right">
            <a href="">TOP</a>
        </p>
        <div class="row">
            this is a footer section
        </div>
    </footer>
</div>


<script src="../public/dist/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.2.6/dist/sweetalert2.all.min.js">
</script>
</body>

</html>
